.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .loader {
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 8px solid #ff6347;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.2s linear infinite;
    box-shadow: 0 0 15px rgba(255, 99, 71, 0.5);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  